<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-eaten="{{devoured}}">
		{{#if devoured}}Yum Yum!{{else}}All Gone!{{/if}}
	</button>
{{!-- delete button created here for each burger --}}
	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
